
name: Upload Static

on:
  push:
    branches: [ "static" ]

jobs:

  upload:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup ossutil
      run: |
        curl -o ${{runner.temp}}/ossutil-2.2.0-linux-amd64.zip https://gosspublic.alicdn.com/ossutil/v2/2.2.0/ossutil-2.2.0-linux-amd64.zip
        unzip ${{runner.temp}}/ossutil-2.2.0-linux-amd64.zip -d ${{runner.temp}}
        sudo cp ${{runner.temp}}/ossutil-2.2.0-linux-amd64/ossutil /usr/local/bin/ossutil
        sudo chmod +x /usr/local/bin/ossutil
        ossutil version

    - name: Upload to OSS
      run: |
        rm -rf ./.git ./.github
        ossutil cp ./ oss://starward-static/ -r -f -j 20
      env:
        OSS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
        OSS_ACCESS_KEY_SECRET: ${{ secrets.ACCESS_KEY_SECRET }}
        OSS_REGION: ${{ secrets.OSS_REGION }}

